header{
text-align: center;
}

body{
background-image: url(descarga.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-size: 390%;
font-family: "Brush Script MT";
}



#nombre{
		position: absolute;
		left: 50%;
		width: 300px;
	}

#id{
	position: absolute;
	left: 50%;
	width: 300px;
}

#cuenta{
position: absolute;
		left: 50%;
		width: 300px;
}

#correo{
position: absolute;
		left: 50%;
		width: 300px;
}
#contacto{
position: absolute;
		left: 50%;
		width: 300px;
}



#inicio{
	float:right;
}

#Buscar{
	float: left;
}
 
